.item--infos{
    display: flex;
    flex-direction: column;
    color: black;
}

.item--details{
    display: flex;
    padding: 15px 15px;
    justify-content: space-between;
    gap: 280px;
}

.price h3{
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.cart--item--buttons--container{
    display: flex;
    justify-content: space-between;
}

.add--remove--button{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.remove--link p{
    align-items: center;
    color: rgb(200, 105, 105);
    text-decoration: underline;
    margin-left: 20px;
    font-weight: 700;
    font-size: 19px;
}

.remove--link p:hover{
    color: rgb(101, 23, 23);
}

.cart--item--container{
    margin-bottom: 25px;
}

@media screen and (max-width: 1200px) {
    .cart--item--container{
        margin-bottom: 20px;
    }
}

