
.special--container{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    line-height: 65px;
    flex-wrap: wrap;
}

.special--title h1{
    line-height: 100px;
    font-size: 40px;
    font-weight: 700;
}

.special--title p{
    font-size: 20px;
} 

.cards--container{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, auto);
}

.cards--container{
    gap: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    line-height: 50px;
}

.btn-container h3{
    font-weight: 700;
}

.btn-primary{
    color: var(--black);
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
}

.btn-primary:hover{
    color: var(--black);
    background-color: var(--white);
}

@media (max-width:768px){
    .cards--container{
        width: 70%;
    }
}

@media only screen and (max-width: 1800px){
    .special--title h1{
        font-size: 45px;
        line-height: 70px;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px){

    .special--title p{
        text-align: center;
    }
    .cards--container{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .cards--container{
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, auto);
        text-align: center;
    }
}

@media screen and (max-width: 850px){
    .special--title h1{
        font-size: 35px;
    }

    .special--title p{
        font-size: 18px;
    }

    .cards--container{
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, auto);
        text-align: center;
    }
}