.catering--section{
    display: grid;
    padding: 123.3px 75.3px;
    align-items: center;
    gap: 14.6px;
    grid-template-columns: repeat(2, 1fr);
}

.catering--section--image img{
    width: 95%;
    height: 95%;
}

.catering--section--text h1{
    line-height: 50px;
    font-size: 40px;
    font-weight: 700;
}

.catering--section--text p{
    font-size: 20px;
    color: black;
}

.button{
    text-align: center;
}

@media only screen and (max-width: 1800px){
    .catering--section--text h1{
        font-size: 48px;
        line-height: 70px;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px){
    .catering--section{
        display: flex;
        flex-direction:column-reverse;
        padding-bottom: 70px;
    }

    .catering--section--text p{
        text-align: center;
    }
    .catering--section--image{
        justify-content: center;
    }
    .button{
        text-align: center;
    }
}

@media screen and (max-width: 850px){
    .catering--section--text h1{
        font-size: 35px;
    }

    .catering--section--text p{
        font-size: 18px;
    }
}